<nav class="navbar">

  <div class="navbar-left">
      <img src="img/Logo.png" routerLink="/inicio"  alt="Logo de la página" class="navbar-logo">
  </div>

  <div class="navbar-center">
      <div class="user-info">
          <span class="user-name">{{nombreUsuario}}</span>
          <button (click)="modificarUsuario()" class="edit-profile-btn">Editar Perfil</button>
      </div>
  </div>

  <div class="navbar-center">
    <div class="user-info">
        <button class="edit-profile-btn" routerLink="/favoritos">Lista Favoritos</button>
    </div>

</div>
  <div class="navbar-right">
      <input type="text"
      placeholder="Buscar usuarios..."
      [(ngModel)]="buscarUsuario" (input)="buscarUsuarios()"
      [ngModelOptions] = " {standalone: true} "
      class="search-bar">

      <div *ngIf="resultadoBusqueda.length > 0" class="search-results">
        <ul>
          <li>
            @for (unPerfil of resultadoBusqueda; track $index) {
              {{unPerfil.nombreUsuario}}
              <button [routerLink]="['/perfil',unPerfil.id!]" class="view-profile-btn">Ver Perfil</button>
              <hr>
            }
          </li>
        </ul>
      </div>

      <a routerLink="/login" class="nav-link" (click)="logOut()" >Cerrar Sesion</a>
      <a routerLink="/buscar" class="nav-link">Buscar Peliculas</a>
      <a routerLink="/seguidores" class="nav-link">Seguidores</a>
      <a routerLink="/seguidos" class="nav-link">Seguidos</a>
      <a routerLink="/trivia" class="nav-link">
        <i class="fas fa-gamepad"></i> Trivia
      </a>

  </div>
</nav>

