<nav class="navbar">
    <div class="navbar-left">

    <img src="img/Logo.png" alt="Logo de la página" class="navbar-logo" (click)="inicio()" >
     </div>
    <div class="navbar-center">
      <div class="user-info">
        <span class="user-name">{{nombreUsuario}}</span>
        <button (click)="modificarUsuario()" class="edit-profile-btn">Editar Perfil</button>
      </div>
    </div>
    <div class="navbar-right">
      <a href="/seguidores" class="nav-link">Seguidores</a>
      <a href="/seguidos" class="nav-link">Seguidos</a>
    </div>
  </nav>
