<div class="footer-container">
    <footer>
        <div class="section-linck">
            <a href="https://api-docs.letterboxd.com/" class="linckApi">
                <span class="line">info</span>
                <span class="line">API</span>
            </a>
        </div>
        <div class="horizontal-line"></div> 
        <div class="footer-text">
            <span>&#64;Todos los derechos reservados</span>
            <span>Creado por alumnos de la UTN de Mar del Plata, BS AS, Argentina</span>            
        </div>
    </footer>
</div>