<app-navbar></app-navbar>

<div *ngIf="seguidores.length > 0; else noSeguidores">
  <h2 class="titulo-seguidos">Seguidores</h2>
  <div class="seguido-lista">
    <div *ngFor="let usuario of seguidores" class="seguido-item">
      <span>{{ usuario.nombreUsuario }}</span>
      <button (click)="guardarEstadoYRedirigir(usuario.id!)" class="view-profile-btn">Ver Perfil</button>
    </div>
  </div>
</div>
<ng-template #noSeguidores>
  <p class="sin-seguidos">No tienes seguidores.</p>
</ng-template>
<div class="volver-container">
  <button class="btn-volver" routerLink="/inicio">Volver</button>
</div>

<app-footer></app-footer>