
<body>
  <section class="registro-section">
    <fieldset class="registro">
      <legend>Registro de Nuevo Usuario</legend>
    
      <div class="nombre">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required>
      </div>
      
      <div class="apellido">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" placeholder="Ingresa tu apellido" required>
      </div>
      
      <div class="nombreUsuario">
        <label for="nombreUsuario">Nombre de usuario:</label>
        <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Elige un nombre de usuario" required>
      </div>
      
      <div class="contraseña">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" placeholder="Crea una contraseña" required>
      </div>
      
      <div class="confirmarContraseña">
        <label for="confirmarContrasena">Confirmación de contraseña:</label>
          <input type="password" id="confirmarContrasena" name="confirmarContrasena" placeholder="Repite la contraseña" required>
        </div>
        
        <div class="pais">
          <label for="pais">País:</label>
          <input type="text" id="pais" name="pais" placeholder="Ingresa tu país" required>
        </div>
        
        <div class="ciudad">
          <label for="ciudad">Ciudad:</label>
          <input type="text" id="ciudad" name="ciudad" placeholder="Ingresa tu ciudad" required>
        </div>
        
        <div class="descripcion">
          <label for="descripcion">Descripción (opcional):</label>
          <textarea id="descripcion" name="descripcion" placeholder="Cuentanos sobre vos"></textarea>
        </div>
        
        <div class="boton">
          <button type="submit">Confirmar</button>
        </div>
        
      </fieldset>
    </section>
</body>

