p{
  color: aliceblue;
}


.form-inline {
  max-width: 600px;
}

.form-inline .form-control {
  flex-grow: 1;
}

.volver-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

.btn-volver {
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-volver:hover {
  background-color: darkred;
  background-color: #ccc23a;
}

.genero-btn {
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.2s, opacity 0.2s;
}

.genero-btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.genero-select {
  width: 80%;
  max-width: 300px;
  margin: auto;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: relative;
  text-align: center;
}
