<app-navbar></app-navbar>

<div class="d-flex justify-content-center my-4">
  <div class="form-inline w-50 m-5">
    <input
      #txtBuscar
      class="form-control mr-sm-2 w-75"
      type="search"
      (keyup.enter)="buscarPelicula(txtBuscar.value)"
      placeholder="Buscar película">
    <button
      class="btn btn-danger my-2 my-sm-0"
      type="submit"
      (click)="buscarPelicula(txtBuscar.value)">
      Buscar
    </button>
  </div>
</div>

<!-- Botones de géneros en pantallas grandes -->
<div class="text-center my-3 mb-5 d-none d-md-block">
  <div class="d-flex flex-wrap justify-content-center">
    <button *ngFor="let genero of generos; let i = index"
            class="btn genero-btn m-1"
            [ngStyle]="{ 'background-color': obtenerColorGenero(i) }"
            (click)="buscarPorGenero(genero.id)">
      {{ genero.name }}
    </button>
  </div>
</div>

<!-- Dropdown de géneros en pantallas pequeñas -->
<div class="text-center my-3 mb-5 d-md-none">
  <select class="form-control genero-select" (change)="onGeneroChange($event)">
    <option value="" disabled selected>🔽 Selecciona un género</option>
    <option *ngFor="let genero of generos" [value]="genero.id">{{ genero.name }}</option>
  </select>
</div>

<hr>

<div class="row w-100">
  <div class="col">
    <app-poster [peliculas]="peliculas" *ngIf="peliculas.length > 0"></app-poster>

    <h3 class="text-warning" *ngIf="noEncontro"><strong>{{ noEncontro }}</strong></h3>
  </div>
</div>

<div class="volver-container">
  <button class="btn-volver" routerLink="/inicio">Volver</button>
</div>

<app-footer></app-footer>
