p{
  color: aliceblue;
}


.form-inline {
  max-width: 600px; /* Limita el ancho máximo del formulario */
}

.form-inline .form-control {
  flex-grow: 1; /* Permite que el input crezca para ocupar el espacio disponible */
}

.volver-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta la altura según sea necesario */
  margin-top: 20px;
}

.btn-volver {
  background-color: red; /* Rojo */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-volver:hover {
  background-color: darkred; /* Rojo más oscuro al pasar el cursor */
}
