.custom-modal {
  background-color: #353350; /* Cambia este color por el que prefieras */
  color: white; /* Cambia el color del texto si es necesario */
  border-radius: 8px; /* Opcional: para redondear los bordes */
  padding: 20px; /* Opcional: para darle un poco más de espacio interno */
}


.close-custom{
  color: white;
}
