

.cartelera {
  margin-top: 2rem ;
 /* height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
}

.cartelera h1{
  color: white;
}

h2 {
  color: white;
}


.estrenos {

  margin-top: 5rem;
}

.estrenos h2{
  margin: 5rem;
}


.linea{
  width: 50%; /* Asegura que el div ocupe todo el ancho */
  border-top: 2px solid rgba(255, 255, 255, 0.568); /* Línea blanca sutil */
  height: 2px; /* Hace que la línea sea más fina */

}




