<div class="container d-flex justify-content-center my-5">
  <div *ngIf="preguntaActual" class="trivia-container">
    <div class="pregunta" *ngIf="!terminado">
      <h2>{{ preguntaActual.pregunta }}</h2>
    </div>

    <div class="contenido" *ngIf="!terminado">
      <img [src]="preguntaActual.foto" alt="Pregunta" class="pregunta-img">
      <div class="opciones">
        <button *ngFor="let opcion of preguntaActual.opciones"
          [ngClass]="{
            'correcta': opcion === respuestaCorrecta && respuestaSeleccionada === opcion,
            'incorrecta': opcion !== respuestaCorrecta && respuestaSeleccionada === opcion
          }"
          (click)="seleccionarRespuesta(opcion)">
          {{ opcion }}
        </button>
      </div>
    </div>

    <div class="navegacion" *ngIf="!terminado">
      <button (click)="siguientePregunta()" [disabled]="!respuestaSeleccionada">
        Siguiente Pregunta
      </button>
    </div>

    <!-- Mensaje final cuando se termina la trivia -->
    <div *ngIf="terminado">
      <h3>¡Has terminado el juego!</h3>
      <p>Puntos obtenidos: {{ puntos }}</p>
      <p>Tiempo total: {{ convertirTiempo(tiempoTranscurrido) }}</p>

      <div class="botones-finales">
        <button class="reintentar" (click)="reiniciarTrivia()">Reintentar</button>
        <button class="volver" (click)="volverInicio()">Finalizar intento</button>
      </div>
    </div>
  </div>
</div>