<div *ngIf="preguntaActual">
  <div class="pregunta-container">
    <img [src]="preguntaActual.foto" alt="Pregunta" class="pregunta-img">

    <h2>{{ preguntaActual.pregunta }}</h2>
    <div class="opciones">
      <div *ngFor="let opcion of preguntaActual.opciones" class="opcion">
        <button
          [ngClass]="{
            'correcta': opcion === respuestaCorrecta && respuestaSeleccionada === opcion,
            'incorrecta': opcion !== respuestaCorrecta && respuestaSeleccionada === opcion
          }"
          (click)="seleccionarRespuesta(opcion)">
          {{ opcion }}
        </button>
      </div>
    </div>
    <div *ngIf="respuestaSeleccionada">
      <button (click)="siguientePregunta()" *ngIf="!terminado">
        Siguiente Pregunta
      </button>
      <h3 *ngIf="terminado">¡Has terminado el juego!</h3>
    </div>
  </div>
</div>
