<nav class="navbar">

  <div class="navbar-left">
      <img src="img/Logo.png" alt="Logo de la página" class="navbar-logo">
  </div>

  <div class="navbar-center">
      <div class="user-info">
          <span class="user-name">{{nombreUsuario}}</span>
          <button (click)="modificarUsuario()" class="edit-profile-btn">Editar Perfil</button>
      </div>
  </div>

  <div class="navbar-right">
      <input type="text" placeholder="Buscar usuarios..."  class="search-bar">
      <a routerLink="/seguidores" class="nav-link">Seguidores</a>
      <a routerLink="/seguidos" class="nav-link">Seguidos</a>
  </div>

</nav>
