

.cartelera {
  margin-top: 2rem ;
}

.cartelera h1{
  color: white;
}

h2 {
  color: white;
}


.estrenos {

  margin-top: 5rem;
}

.estrenos h2{
  margin: 5rem;
}


.linea{
  width: 50%; 
  border-top: 2px solid rgba(255, 255, 255, 0.568); 
  height: 2px; 

}




