
h3{
  color: white;
  margin-bottom: 3rem;
}

.card-body  {
  color: white;
}



.card-custom{
  background-color: #524f79;
}

p{
  color:white;
}


.fa-star{
  margin-right: 2px;
  color: #edb867;
  vertical-align: middle;
}


