.perfil-container {
  border: 2px solid red;
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
}

.perfil-header {
  text-align: center;
  margin-bottom: 20px;
}

.perfil-header h1 {
  font-size: 36px;
  margin: 0;
}

.perfil-header p {
  font-size: 18px;
  margin: 5px 0;
}

.perfil-info p {
  margin: 10px 0;
}

.perfil-info strong {
  color: red;
}



/* Media queries para hacer el diseño responsive */
@media (max-width: 768px) {
  .perfil-container {
    padding: 15px;
  }

  .perfil-header h1 {
    font-size: 28px;
  }

  .perfil-header p {
    font-size: 16px;
  }

  .perfil-info p {
    font-size: 14px;
  }

}

.seguir-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust as needed */
}




.volver-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura según sea necesario */
    margin-top: 20px;
  }

  .btn-volver {
    background-color: red; /* Rojo */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .btn-volver:hover {
    background-color: darkred; /* Rojo más oscuro al pasar el cursor */
  }
