<app-navbar></app-navbar>


<div class="perfil-container" *ngIf="unUsuario">
  <div class="perfil-header">
    <h1>{{ unUsuario.nombreUsuario }}</h1>
    <p>{{ unUsuario.nombre }} {{ unUsuario.apellido }}</p>
  </div>
  <div class="perfil-info">
    <p><strong>País:</strong> {{ unUsuario.pais }}</p>
    <p><strong>Ciudad:</strong> {{ unUsuario.ciudad }}</p>
    <p><strong>Descripción:</strong> {{ unUsuario.descripcion }}</p>
  </div>

  <!-- lista de favoritos -->
  <button class="btn-volver" [routerLink]="['/favoritos/',id]">Lista favoritos</button>

  </div>


<div class="seguir-container">
  <app-add-seguir-usuario class="btn-seguir" [usuarioId]="unUsuario?.id ?? ''" (eventoAgregar)="actualizarListaSeguidores()"></app-add-seguir-usuario>
</div>

<div class="volver-container">
  <button (click)="volver()" class="btn-volver">Volver</button>
</div>
<app-footer></app-footer>