
<div class="estrenos d-flex flex-column justify-content-center align-items-center">
  <div class="linea"></div>
  <h2>LISTA DE FAVORITOS</h2>

  <ng-container *ngIf="favoritos.length > 0; else noFavorites">
    /**<app-poster-favoritos [peliculasPoster]="peliculas"></app-poster-favoritos>
  </ng-container>
  <ng-template #noFavorites>
    <h3>La lista de peliculas favoritas del usuario está vacía</h3>
  </ng-template>
  
</div>

<div class="volver-container">
  <button class="btn-volver" [routerLink]="['/perfil/', userId]">Volver</button>
</div>
