<section class="registro-section">
    <fieldset class="registro">
      <legend>Restablecer Contraseña</legend>
  
      <form [formGroup]="formUsuario" (ngSubmit)="restablecerPassword()">
    
        <div class="nombreUsuario">
          <label for="nombreUsuario">Nombre de usuario:</label>
          <input type="text" id="nombreUsuario" formControlName="nombreUsuario" placeholder="Ingresa tu nombre de usuario">
          <div *ngIf="formUsuario.controls['nombreUsuario'].touched && formUsuario.controls['nombreUsuario'].hasError('required')" class="error">
            Este campo es requerido
          </div>
        </div>

        <div class="palabraClave">
          <label for="palabraClave">Palabra clave:</label>
          <input type="text" id="palabraClave" formControlName="palabraClave" placeholder="Ingresa tu palabra clave">
          <div *ngIf="formUsuario.controls['palabraClave'].touched && formUsuario.controls['palabraClave'].hasError('required')" class="error">
            Este campo es requerido
          </div>
        </div>
  

        <div class="contraseña">
          <label for="contrasena">Contraseña:</label>
          <input type="password" id="contrasena" formControlName="password" placeholder="Crea una contraseña">
          <div *ngIf="formUsuario.controls['password'].touched && formUsuario.controls['password'].hasError('required')" class="error">
            Este campo es requerido
          </div>
          <div *ngIf="formUsuario.controls['password'].touched && formUsuario.controls['password'].hasError('minlength')" class="error">
            Contraseña corta, mínimo 8 caracteres
          </div>
        </div>
        
        <div class="confirmarContraseña">
          <label for="confirmarContrasena">Confirmación de contraseña:</label>
          <input type="password" id="confirmarContrasena" formControlName="confirmacionPassword" placeholder="Repite la contraseña">
          <div *ngIf="formUsuario.controls['confirmacionPassword'].touched && formUsuario.controls['confirmacionPassword'].hasError('required')" class="error">
            Este campo es requerido
          </div>
          <div *ngIf="formUsuario.controls['confirmacionPassword'].touched && formUsuario.controls['confirmacionPassword'].hasError('minlength')" class="error">
            Contraseña corta, mínimo 8 caracteres
          </div>
          <div *ngIf="formUsuario.hasError('contraseñaNoCoinciden') && formUsuario.controls['confirmacionPassword'].touched" class="error">
            Las contraseñas no coinciden
          </div>
        </div>

        <div class="boton">
          <button type="submit" [disabled]="formUsuario.invalid">Restablecer Contraseña</button>
        </div>

        <div class="boton">
          <button type="submit" routerLink="/login">Volver</button>
        </div>
      </form>
    </fieldset>
  </section>
  