.stars-container{
  display:flex;
}

.fa-star{
  margin-right: 2px;
  color: yellow;
}


h3{
  color: white;
}



.opciones {
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd; 
}


.opciones2 {
  min-height: 80px; 
  padding: 20px 0; 
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd; 
}
